.side-bar
  .user-name
    .box
      .name
        masa
      .icon
        =link_to "#" do
          .far.fa-edit.user-edit
        =link_to "#" do
          .fas.fa-cog.cog
  .group-list
    .box
      .group-name
        tech-camp
      .message
        まだメッセージはありません